body {
  margin: 0;
  line-height: normal;
}
.all-beers2,
.my-beers2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.all-beers2 {
  top: 7px;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 30px;
  width: 115px;
  height: 29px;
}
.my-beers2 {
  top: 4px;
  left: 131px;
  letter-spacing: 0.04em;
  color: var(--color-gray-300);
  width: 132px;
  height: 34px;
}
.all-beers-container,
.image-1-icon7 {
  position: relative;
  width: 276px;
  height: 39px;
  flex-shrink: 0;
}
.image-1-icon7 {
  width: 45px;
  height: 124px;
  object-fit: cover;
}
.image-1-wrapper4 {
  border-radius: var(--br-lg);
  width: 47px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.korem-ipsum-dolor6 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.06em;
}
.korem-ipsum-dolor-sit-amet-co-wrapper4 {
  position: absolute;
  top: 97.5px;
  left: 0;
  width: 305px;
  height: 45px;
  overflow: hidden;
}
.better-beer6,
.brand-name6 {
  position: absolute;
  top: 24.5px;
  left: 0;
  font-size: var(--font-size-2xl);
  display: flex;
  color: var(--color-gray-100);
  align-items: center;
  width: 296px;
  height: 29px;
}
.brand-name6 {
  top: 66.5px;
  font-size: var(--font-size-xs);
  color: var(--color-goldenrod);
  width: 96px;
  height: 22px;
}
.frame-parent13 {
  position: relative;
  width: 313px;
  height: 159px;
  flex-shrink: 0;
}
.frame-parent12 {
  width: 448px;
  height: 161px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.frame-wrapper5,
.instance-parent2 {
  width: 468px;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-wrapper5 {
  background-color: var(--white);
  box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.12);
  height: 180px;
  display: flex;
  padding: var(--padding-3xs) var(--padding-2xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-wrapper5:hover {
  background-color: rgba(212, 202, 247, 0.5);
}
.instance-parent2 {
  gap: var(--gap-md);
}
.frame-parent11,
.instance-parent1,
.instance-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.instance-parent1 {
  width: 976px;
  height: 624px;
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-sm);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.load-more {
  position: relative;
  letter-spacing: 0.04em;
}
.frame-child {
  position: relative;
  width: 10.5px;
  height: 7.54px;
  flex-shrink: 0;
}
.load-more-parent {
  position: absolute;
  top: 905px;
  left: 673px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  font-size: var(--font-size-xs);
  color: var(--color-cornflowerblue);
  font-family: var(--font-inter);
}
.frame-parent11 {
  position: absolute;
  top: 169px;
  left: 198px;
  width: 1044px;
  flex-direction: column;
  gap: 23px;
}
.landing2 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  font-family: var(--font-helvetica);
}
