/* {background-image: url('/clickable html/img_favicon3.png');
} */
/*  */
/* Styles for table */
table {
  border-spacing: 30px;
}

/* Set width, border, collapse, and border radius for table, th, and td */
table, th, td {
  width: 100%;
  height: auto;
  border: 1px solid white; /* White border */
  border-collapse: collapse; /* Collapse borders */
  border-radius: 10px; /* Rounded corners */
}
/* Set background color, border style, and color for th and td */
th, td {
  background-color: #ffffff; /* Background color */
  border-style: dotted; /* Dotted border */
  border-color: #96D4D4; /* Border color */
  border-radius: 10px; /* Rounded corners */
  padding: 15px;
}
/* For zebra-striped tables, use the nth-child() selector and add a background-color to all even (or odd) table rows */
tr:nth-child(even) {
  background-color: #ffd901;
}

  
th:nth-child(even),td:nth-child(even) {
  background-color: #ff0000; 

}
tr {
  border-bottom: 1px solid #00f700;
}

/* disc (default), circle, square, or none. Set the list style */
ul {
  list-style-type: none; }