:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --primary-color: #EBCDIC;
    --secondary: #f56692;
}

/* Resetting default body styles */
body {
    margin: 0;
    padding: 0;
    line-height: normal;
}

/* body class for heading */
body h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

/* Add padding to the body */
.body {
    flex: auto;
    text-align: center;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* body class for paragraph */
.body p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}


/* Styles for main content wrapper */
.main-content-wrapper {
    height: 80px;
    justify-content: center;
    padding: 0 26px 0 20px;
    font-size: 14px;
    font-family: ABeeZee, serif;
    background-color: blanchedalmond;
}

/* Flexbox layout for main content and its wrapper */
.main-content,
.main-content-wrapper {
    align-self: stretch;
    display: flex;
}


/* Styles for main content */
.main-content {
    width: 1134px;
    justify-content: space-between;
}

/* Styles for the logo */
.logo {

    font-size: 25px;
    font-family: Inter, serif;
    display: flex;
    align-items: center;

}

/* Styles for vertical navigation items wrapper */
.navigation-items-wrapper {
    flex-direction: column;
    padding: 26px 0 0;
    box-sizing: border-box;
    max-width: 100%;
}

/* Styles for horizontal navigation items */
.navigation-items {
    flex-direction: row;
    gap: 27px;
}

/* Flexbox layout for navigation items and their wrapper */
.navigation-items,
.navigation-items-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.how,
.start,
.what,
.who {
    position: relative;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
    min-width: 89px;
    white-space: nowrap;
}

/* Adjusting minimum widths for navigation items */
.how,
.start,
.what {
    min-width: 102px;
}

.start,
.what {
    min-width: 125px;
}

/* Additional styles for the 'start' navigation item */
.start {
    font-size: 13px;
    color: #000;
    min-width: 105px;
}

.search {
    font-size: 25px;
    margin: 5px;
    padding: 5px;
}


/* Center the content */
/* Styles for top-level container */
.avo {
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 1200px;
}

/* Center the content
main {
  padding: 20px;
  min-height: 400px; /* Example height for content */


/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/

.row {
    background: url(/image/banner-image-1.jpg) no-repeat center top / cover;
}

#banner-content .row {
    padding-top: 50px;
    padding-bottom: 50px;
}

.col-38 {
    width: 38.2%;
}

#banner .section-heading:before {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 30px;
}

#banner h1 {
    font-size: 48px;
}

/* Apply capitalize to all text */
/* Styles for the heading */
h1 {
    margin: auto;
    text-transform: capitalize;
}

.heading {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
    color: #111;
    padding: 20px 0;
}

.sub-heading {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 18px;
    font-weight: 300;
    color: #111;
    padding: 14px 0;
    margin: 0;

    direction: ltr;
}

.button11 {
    border-color: #111;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #111;
    margin: 35px 0;
    padding: 11px 16px;
    transition: all .3s linear;
    display: inline-block;
    border-width: 3px;
    border-style: solid;
}

section {
    clear: both;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
}

.row1 {
    position: relative;
    padding: 75px 0;
    box-sizing: border-box;
    display: block;
}

.col-3 {
    width: 33.33%;
    float: left;
    padding: 0 2px;
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
}

.col-33 {
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    padding: 10px 0;
}

.section-title {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 34px;
    font-weight: 700;
    color: #111;
    padding: 14px 0;
    margin: 0;
    box-sizing: border-box;
}


.section-subtitle {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px;
    font-weight: 300;
    color: #9c9c9c;
    line-height: 25px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: isolate;
}

.col-2-3 {
    width: 66.66%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    unicode-bidi: isolate;
    display: flex;
    flex-wrap: wrap;
}

.colUp {
    width: 50%;
    float: left;
    padding: 20px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif, Arial, Helvetica;
    font-size: 15px;
    font-weight: normal;
    color: rgb(17, 17, 17);
}

.col-2Up {
    width: 50%;
    float: left;
    padding: 20px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif, Arial, Helvetica;
    font-size: 15px;
    font-weight: normal;
    color: rgb(17, 17, 17);
}

.col-2InUp {
    width: 50%;
    float: left;
    padding: 20px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif, Arial, Helvetica;
    font-size: 15px;
    font-weight: normal;
    color: rgb(17, 17, 17);
}

.col_fadeInUp {
    width: 50%;
    float: left;
    padding: 20px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif, Arial, Helvetica;
    font-size: 15px;
    font-weight: normal;
    color: rgb(17, 17, 17);
}


/* Styles for aside
aside {
  width: 97%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
} */


.Galleryrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
}

.Galleryrow a {
    flex: 0 0 calc(50.33% - 10px); /* Adjust width and margin as needed */
    margin-bottom: 20px; /* Adjust margin between rows */
}

.Galleryrow a img {
    width: 100%;
    height: auto;
}


/* Styles for footer section */
.footer {
    position: relative; /* Position the footer */
    /* Ensure footer respects document flow */
    bottom: 0; /* Position at the bottom of the viewport */
    left: 0; /* Position at the left edge of the viewport */
    width: 100%; /* Full width */
    display: flex;
    background-color: #1a2328;
    justify-content: space-evenly;
    font-size: 14px;
    color: #fff;
    font-family: ABeeZee;
    padding: 20px; /* Adjust padding as needed */
    box-sizing: border-box;

}

/* Flexbox layout for footer content and navigation */
.footer-content,
.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Gap between footer content items */
.footer-content {
    gap: 15.4px;
}

/* Styles for the Avocado tech text */
.avocado-tech {
    position: relative;
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
    min-width: 104.3px;
}

/* Styles for navigation items in the footer */
.how1,
.what1,
.who1 {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 78px;
    flex-shrink: 0;
}

/* Adjusting minimum widths for footer navigation items */
.how1,
.what1 {
    min-width: 86px;
    margin-top: -0.1px;
}

.what1 {
    min-width: 112px;
}

/* Styles for footer */
.footer-contact,
.updates {
    width: 244.9px;
    display: flex;
    flex-direction: column;
    gap: 16.4px;
    justify-content: space-evenly;
    align-items: center
}

/* Styles for footer contact */
.footer-contact {
    width: 624.9px;
    flex-direction: row;

}



/* Flexbox layout for contact details and unordered list */
.contact-details,
.ul {
    flex-direction: column;
}

/* Styles for unordered list */
.ul {
    align-self: stretch;
    gap: 0.1px;
    flex-shrink: 0;
    color: #8e8e8e;
    font-family: Inter;
}

/* Styles for contact details container */
.contact-details {
    flex: 1;
    gap: 16.4px;
    min-width: 227px;
    max-width: 100%;
}


/* Styles for contact text and icons */
.contact,
.div {
    position: relative;
}

.contact {
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
    min-width: 62.8px;
    flex-shrink: 0;
}

ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

li {
    padding-left: 20px; /* Add padding to create space between bullet and text */
    margin: auto;
}

.li {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1px 0 2.9px;
    gap: 5px;
}


/* Styles for contact icons */
.contact-icons {
    width: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 0 0;
    box-sizing: border-box;
}

.div {
    align-self: stretch;
    height: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
}

/* Styles for contact information */
.i {
    position: relative;
    line-height: 20px;
    display: inline-block;
    font-family: ABeeZee;
    min-width: 126px;
    white-space: nowrap;
}

/* Styles for contact icons and information */
.div2,
.li1 {
    align-self: stretch;
    display: flex;
}

/* Styles for list items in contact information */
.li1 {
    height: 23.9px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 0 0.9px;
    box-sizing: border-box;
    gap: 8px;
}

.div1 {
    flex: 1;
    background-color: lightblue; /* Just for visualization */
    height: 14px;
    width: 14px;
    position: relative;
    line-height: 14px;
    align-items: center;
}

/* Styles for contact item containers */
.div1,
.li {
    display: flex;
}


/* Styles for info text */
.info {
    margin-top: -4px;
    position: relative;
    line-height: 24px;
    display: inline-block;
    font-family: ABeeZee;
    color: rgba(255, 255, 255, 0.5);
}

/* Flexbox layout for contact details and list items */
.contact-details,
.li2,
.ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Styles for list items in contact details */
.li2 {
    align-self: stretch;
    flex-direction: row;
    padding: 1px 0 2.9px;
    gap: 7px;
}

/* Styles for wrapper element */
.wrapper {
    width: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 0 0;
    box-sizing: border-box;
}

.div3, .div2 {
    flex-basis: 50%;
}
.div3, .div2, .div4, .div5 {
    display: flex;
    justify-content: center;
}


/* Styles for icons in contact information */
.div2 {
    height: 14px;
    position: relative;
    line-height: 14px;
    align-items: center;
}

/* Styles for street address in contact information */
.street {
    position: relative;
    line-height: 20px;
    font-family: ABeeZee, serif;
}

/* Styles for submit button and text */
.div3,
.get-the-latest {
    display: flex;
    align-items: center;
}

/* Styles for "Get the latest updates" text */
.get-the-latest {
    width: 167px;
    line-height: 15px;
    text-transform: uppercase;
}

/* Styles for submit button */
.div3 {
    align-self: stretch;
    flex: 1;
    font-family: Inter, serif;
    color: #fff;
    text-align: center;
    justify-content: center;
}

/* Styles for button parent container */
.submit-btn-parent {
    align-self: stretch;
    height: 36px;
    position: relative;
}

/* Styles for submit button */
.submit-btn {
    position: absolute;
    left: 203px;
    width: 49px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Hover styles for submit button and email input */
.submit-btn:hover,
.email:hover {
    border: 1px solid rgba(230, 230, 230, 0.3);
    box-sizing: border-box;
}

/* Hover styles for submit button */
.submit-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Styles for email input */
.email {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px 13px 7px;
    background-color: #1a2328;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset;
    border-radius: 4px 0 0 4px;

    width: 204px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
    z-index: 1;
}

/* Hover styles for email input */
.email:hover {
    background-color: #4d575c;
}

/* Styles for "Enter your e-mail" text */
.enter-your-e-mail {
    position: relative;
    font-size: 13px;
    display: inline-block;
    font-family: ABeeZee;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    min-width: 109px;
}



@media screen and (max-width: 1275px) {
    .footer {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 750px) {
    .navigation-items {
        display: none;
    }
    .footer-contact {
        flex-wrap: wrap;
    }
    .footer {
        padding-left: 100px;
        padding-right: 153px;
        box-sizing: border-box;
    }
    .avo {
        gap: 2409px;
    }
}
@media screen and (max-width: 450px) {
    .div3 {
        font-size: 18px;
        line-height: 18px;
    }
    .footer {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
}